:root {
    --Text-primary: #ffffffd3;
    --Text-secondary: #000000a8;
    --Headers : #6b3132;
    


}

.content-header-title {
    border-bottom: 2px solid var(--Border-primary);
    
}
.content-header-title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--Text-primary);
    text-shadow: var(--Background-tertiary) 4px 4px 0px;
    margin: auto;
}

.blog-date p {
    font-size: 1rem;
    color: var(--Text-primary);
}
.content-blog {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 10%;
}
li {
    font-size: 1rem;
    color: var(--Text-secondary);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--Headers);
    font-weight: bold;
    text-shadow: 2px 2px 0px #6b313260;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Code Highlighting */
.highlighter-rouge {
    background-color: var(--Background-code);
    border: 1px solid var(--Border-code);
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    overflow-x: auto;
    box-shadow: 3px 3px 0 var(--Border-code);
}

pre {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--Text-primary);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: none;
}

code {
    color: var(--Code-color);
    background: none;
}
code .nb {
    color: var(--Nb-color);
}
code .nt {
    color: var(--Nt-color);
}
p {
    color: var(--Text-secondary);
}
a {
    color: var(--Headers);
    font-weight: bold;
}
a:hover {
    color: #ffffff7e;
}


/*form*/
.contact-form {
    background-color: var(--Background-secondary);
    border: 1px solid var(--Border-primary);
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 3px 3px 0 var(--Background-tertiary);
    color: var(--Text-primary);
}

.contact-form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--Text-primary);
    text-shadow: var(--Background-tertiary) 2px 2px 0px;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: var(--Text-primary);
}

.contact-form input,
.contact-form textarea {
    display:flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid var(--Border-primary);
    border-radius: 5px;
    background-color: var(--Background-tertiary);
    color: var(--Text-primary);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--Border-secondary);
    box-shadow: 0 0 5px var(--Border-secondary);
}

.contact-form button {
    background: var(--Background-quinary);
    border: 1px solid var(--Border-secondary);
    color: var(--Text-primary);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-form button:hover {
    background: linear-gradient(45deg, #48584e, #4b6f44);
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
  