<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="box">
            {% include navbar.html %}

            <main class="content">
                <div class="socials">
                    <h2>Buttons</h2>
                </div>
                <div class="social-icons">
                    {% include res/buttons.html %}
                </div>
                <div class="welcome">
                    <h2>Welcome</h2>
                    <!-- Hi html reader, hope everything is going well. -->
                </div>
                    {{content}}
            </main>

            <script src="/JS/nav.js"></script>
            
        </div>
    </body>
</html>
